@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');

:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-pink: #FFC0CB;
    --c-blue: #0000FF;
    --c-body: #666;
    --c-light: #f8f8f8;
    --c-yellow: #ffff00;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

body {
    color: var(--c-pink);
    font-family: var(--f-base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c-yellow);
    line-height: 1.2;
    font-weight: 400;
}

.heading_1 {
    font-size: clamp(44px, 10vw, 100px);
    font-weight: 400;
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
    font-size: 20px
}

a {
    color: var(--c-brand);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: var(--c-brand);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    height: var(--n-height);
    display: flex;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.container .logo {
    padding-top: 30px;
    max-width: 400px; /* Ensures the image does not exceed its container width */
    height: auto; /* Maintains the aspect ratio */
    width: auto;
}

.brand {
    color: #fff;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li.active a {
    box-shadow: 0 2px var(--c-body);
}

.nav-links li a {
    color: var(--c-dark);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: var(--c-body);
}


.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-body);
    font-family: var(--f-base);
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--c-brand);
    color: #fff;
}


.btn2 {
    color: var(--c-dark);
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-body);
    font-family: var(--f-base);
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn2:hover {
    background-color: var(--c-brand);
    color: var(--c-light);
}



.hamb {
    display: block;
    cursor: pointer;
    display: none;
}

.hamb span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: var(--c-dark);
    margin: 8px auto;
    transition: all 0.4s ease;
}

.hamb.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamb.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled {
    background-color: #fff;
}

.scrolled .brand {
    color: var(--c-dark);
}

.scrolled .nav-links li a {
    color: var(--c-dark);
}

.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}

.scrolled .hamb span {
    background-color: var(--c-dark);
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        background-color: var(--c-light);
        justify-content: center;
    }

    @media (max-width: 768px) {
        .navbar .container {
            width: 95%; /* Adjust the container width for smaller screens */
        }

        .container .logo {
            max-width: 150px;
        }
    }

    .nav-links.active {
        color: var(--c-light);
        height: 250px;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links li a {
        color: #000;
    }

    .hamb {
        display: block;
    }
}


/*about*/

.section {
    margin-top: 60px;
    width: 100%;
}

.section .container-section {
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0;
}


.container-section .title {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    
}

.container-section .title h1 {
    color: var(--c-brand);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 2em;

}

.container-section .title h1::after {
    content: "";
    height: 5px;
    width: 100px;
    background-color: var(--c-body);
    border-radius: 25px;
    display: block;
    margin: auto;
}

.content {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 45%;
}
.image-section img {
    width: 60%;
    height: auto;
    margin-left: 150px;
}

.content .article h3 {
    color: var(--c-blue);
    font-size: 25px;
    font-weight: 200;
}

.content .article h3 strong {
    color: cadetblue;
    font-size: 30px;
    font-style: italic;
}

.content .article p{
    padding-right: 20px;
    margin-top: 20px;
    font-size: 17px;
    color: var(--c-body);
    text-align: justify;
}

.content .article .more-content {
    display: none;
}


.content .article .read-more {
    cursor: pointer;
    color: var(--c-brand); 
    text-decoration: underline;
}


.content .article a {
    display: inline-block;
    color: var(--c-brand);
    text-decoration: underline;
}

.content .article .button {
    margin-top: 20px;
}


.content .article .button a {
    padding: 8px 25px;
    background-color: cadetblue;
    border-radius: 25px;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;

}

.content .article .button a:hover {
    color: #fff;
    background-color: var(--c-brand);
    transition: 1s;
}

.container-section .socials {
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.container-section .socials i {
    color: #fff;
    font-size: 20px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    background-color: var(--c-body);
    margin: 0px 5px;
}

.container-section .socials i:hover {
    color: #fff;
    background-color: var(--c-brand);
    transition: 1s;
    transform: rotate(360deg);
}


/*proposal form*/

#show-form-link {
    display: inline-block;
    color: white;
    background: cadetblue;
    border: 1px solid transparent;
    padding: 12px 25px;
    line-height: 1;
    font-size: 14px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
#show-form-link:hover {
    background-color: var(--c-brand);
}

#close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#close-form:hover {
    background-color: cadetblue;
}

/* Form Style */
#partnership-form {
    display: none; 
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    z-index: 1000;
}

#partnership-form  h1 {
    color: var(--c-brand);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#partnership-form .form-group {
    margin-bottom: 15px;
}
#partnership-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
#partnership-form .form-group input, 
#partnership-form .form-group textarea, 
#partnership-form .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
#partnership-form .form-group textarea {
    resize: vertical;
    height: 100px;
}
#partnership-form .form-group button {
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#partnership-form .form-group button:hover {
    background-color: var(--c-brand);
}

@media (max-width: 600px) {
    #partnership-form {
        width: 80%;
        top: 20%;
        padding: 15px;
    }
    #show-form-link {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 1024px) {
    .section .container-section {
        width: 90%;
        padding: 30px 0;
    }

    .content {
        width: 100%;
        margin-bottom: 30px;
    }

    .image-section {
        width: 100%;
    }

    .content .article h3 {
        font-size: 22px;
    }

    .content .article h3 strong {
        font-size: 26px;
    }

    .content .article p {
        font-size: 16px;
    }

    .container-section .title h1 {
        font-size: 1.8em;
    }
}


@media (max-width: 768px ) {
    .section .container-section {
        width: 80%;
        display: block;
        margin: auto;
    }

    .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .content .article h3 {
        text-align: justify;
        font-size: 20px;
    }

    .content .article h3 strong {
        font-size: 25px;
    }

    .content .article p {
        text-align: justify;
        padding-right: 0;

    }

    .container-section .socials i {
        margin: 0;
        padding: 10px;
        font-size: 25px;
        height: 40px;
        width: 40px;
        background: none;
        color: var(--c-body);
    }

    .image-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}






/*service*/

.service_con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 12%;
    margin-top: 50px;
}


.service_wrapper .service_cont {
    display: flex;
    gap: 10px;
    width: 100%;
}

.service_wrapper .service_cont div {
    width: 100%;
}

.service_wrapper .service_cont .title {
    font-size: 25px;
    text-transform: uppercase;
    background: linear-gradient(90deg, cadetblue 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}

.service_wrapper .service_cont h3 {
    font-size: 35px;
    color: var(--c-brand);
    line-height: 5px;
    width: 100%;
}

.service_wrapper .service_cont p {
    width: 90%;
    color: var(--c-body);
    margin: 10px 0;
    text-align: justify;
}


.service_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.service_content .services {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service_content .services .service_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
    border-bottom: 0.2px solid grey;
    transition: 1s;
    position: relative;
}


.service_content .services .service_heading h2 {
    font-size: 30px;
    color: cadetblue;
    letter-spacing: 0.6px;
    font-weight: 500;
}

.service_content .services .service_heading i {
    font-size: 25px;
    color: var(--c-blue);
}

.service_list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    color: var(--c-body);
}

.service_list li {
    list-style: circle;
    font-size: 18px;
    margin: 25px;
}


.rotate-icon {
    transform: rotate(45deg);
    transition: transform 0.3s;
}
/* Show the list when active */
.service_list.active {
    max-height: 300px; /* Adjust based on content height */
    padding-top: 10px;
    padding-bottom: 10px;
    transition: max-height 0.5s ease-in, padding 0.5s ease-in;
}

.service_heading i {
    cursor: pointer;
}


.service_content p {
    color: var(--c-body);
    font-size: 20px;
    margin-top: 20px;
}

.service_content p a {
    text-decoration: underline;
    color: cadetblue;
}
@media (max-width: 1024px) {
    .service_con {
        flex-direction: column;
        padding: 20px 5%;
    }

    .service_wrapper .service_cont {
        flex-direction: column;
        align-items: center;
    }

    .service_wrapper .service_cont .title {
        text-align: center;
    }

    .service_wrapper .service_cont h3 {
        line-height: normal;
    }

    .service_wrapper .service_cont p {
        width: 100%;
        text-align: justify;
    }

    .service_content {
        margin-top: 30px;
    }

    .service_content .services {
        margin-bottom: 20px;
    }

    .service_content .services .service_heading {
        padding: 20px;
        justify-content: start;
    }

    .service_content .services .service_heading h2 {
        font-size: 25px;
    }

    .service_content .services .service_heading i {
        position: absolute;
        right: 20px;
    }

    .service_list {
        padding-left: 10px;
    }

    .service_content p {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    .service_wrapper .service_cont .title {
        font-size: 20px;
    }

    .service_wrapper .service_cont h3 {
        font-size: 25px;
    }

    .service_content .services .service_heading {
        padding: 15px;
    }

    .service_content .services .service_heading h2 {
        font-size: 20px;
        text-align: left;
    }

    .service_content .services .service_heading i {
        font-size: 20px;
    }
}

/* team section */

/* General Section Styling */
.team-section {
    width: 100%;
    padding: 40px 5%;
    text-align: center;
    background-color: #f9f9f9;
}

.team-section h2 {
    font-size: 2.5em;
    color: var(--c-brand);
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Team Container */
.team-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0 5%; /* Adds padding to the sides */
    box-sizing: border-box;
}

/* Team Member Styling */
.team-member {
    flex: 0 0 100%;
    max-width: 100%;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 25px;
    color: cadetblue;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1em;
    color: #777;
    margin-bottom: 20px;
}

.socials a {
    color: var(--c-body);
    font-size: 25px;
    margin: 0 10px;
    transition: color 0.3s;

}

.socials a:hover {
    color: var(--c-brand);
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .team-container {
        padding: 0;
    }

    .team-member {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .team-member img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .team-member h3 {
        font-size: 25px;
    }

    .team-member p {
        font-size: 20px;
    }

    .socials a {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .team-member img {
        width: 200px;
        height: 200px;
    }

    .team-member h3 {
        font-size: 23px;
    }

    .team-member p {
        font-size: 18px;
    }

    .socials a {
        font-size: 20px;
    }
}





/*contacts*/


.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-section h1 {
    text-align: center;
}

/* Contact Info Styling */
.contact-info {
    flex: 1;
    margin: 20px;
    min-width: 300px;
    max-width: 50%;
}

.contact-info h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: cadetblue;
}

.contact-info p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    margin-right: 10px;
    color: cadetblue;
}

.contact-info ul li a {
    color: var(--c-body);
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}

/* Contact Form Styling */
.contact-form {
    flex: 1;
    padding: 20px;
    min-width: 300px;
    max-width: 50%;
}

.contact-form .message {
    color: var(--c-body);
}

.contact-section h1 {
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--c-brand);
}

.contact-form h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: cadetblue;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    padding: 15px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--c-brand);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        margin-top: 30px;
    }

    .contact-section h1  {
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }

    .contact-info h3 {
        font-size: 25px;
    }

    .contact-form h3 {
        font-size: 25px;
    }

    .contact-info,
    .contact-form {
        max-width: 100%;
        text-align: start;
    }
}

.whatsapp_float {
    position: fixed;
    width: 45px; 
    height: 45px; 
    bottom: 20px; 
    right: 20px; 
    background-color: #25d366;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; 
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-icon {
    margin-top: 16px;
}

.whatsapp_float:hover {
    background-color: #128c7e;
    color: #FFF;
    text-decoration: none;
}




/*footer*/

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.2)), url(images/5-min.jpg);
    background-size: cover; 
    background-position: center; 
    color: var(--c-light);
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--c-yellow);
}

.footer-content p a {
    text-decoration: underline;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: var(--c-light); 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    font-size: 1.5em; 
}

.social-links a:hover {
    color: var(--c-pink); 
}

/* Responsive Styles */
@media (max-width: 600px) {
    .social-links {
        flex-direction: column;
        align-items: center;
    }

    .social-links a {
        margin: 5px 20;
    }

    .footer-content p {
        font-size: 16px;
    }
}