@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');

:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-pink: #FFC0CB;
    --c-blue: #0000FF;
    --c-body: #666;
    --c-light: #f8f8f8;
    --c-yellow: #ffff00;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

body {
    color: var(--c-pink);
    font-family: var(--f-base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c-yellow);
    line-height: 1.2;
    font-weight: 400;
}

.heading_1 {
    font-size: clamp(44px, 10vw, 100px);
    font-weight: 400;
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
    font-size: 20px
}

a {
    color: var(--c-brand);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: var(--c-brand);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    height: var(--n-height);
    display: flex;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .logo {
    padding-top: 30px;
    max-width: 100px; /* Ensures the image does not exceed its container width */
    height: auto; /* Maintains the aspect ratio */
    width: auto;
}

.brand {
    color: #fff;
    font-size: 28px;
}
.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li.active a {
    box-shadow: 0 2px var(--c-brand);
}

.nav-links li a {
    color: var(--c-pink);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: var(--c-body);
}

.btn:hover {
    background-color: var(--c-brand);
    color: #fff;
}


.btn2 {
    color: var(--c-dark);
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-body);
    font-family: var(--f-base);
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn2:hover {
    background-color: var(--c-brand);
    color: var(--c-light);
}





.hamb {
    display: block;
    cursor: pointer;
    display: none;
}

.hamb span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: var(--c-body);
    margin: 8px auto;
    transition: all 0.4s ease;
}

.hamb.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamb.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled {
    background-color: #fff;
}

.scrolled .brand {
    color: var(--c-dark);
}

.scrolled .nav-links li a {
    color: var(--c-dark);
}

.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}

.scrolled .hamb span {
    background-color: var(--c-dark);
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        background-color: var(--c-pink);
        justify-content: center;
    }

    @media (max-width: 768px) {
        .navbar .container {
            width: 95%; /* Adjust the container width for smaller screens */
        }

        .container .logo {
            max-width: 60px;
        }
    }

    .nav-links.active {
        color: var(--c-light);
        height: 250px;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links li a {
        color: #333;
    }

    .hamb {
        display: block;
    }
}









/*heading*/

.heading {
    align-items: center;
    text-align: center;
    padding: 80px 0;
}

.heading h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--c-blue);
}


.heading p {
    display: none;
}
/* Hero Section Styles */
#hero {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#hero .container {
    flex: 1 1 300px;
    margin: 10px;
    text-align: center;
}

#hero .container h2 {
    color: var(--c-brand);
    padding: 20px 0;
}

#hero .container p {
    text-align: justify;
    color: var(--c-dark);
}

#hero .container p span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic;
}

#hero img {
    width: 100%;
    max-width: 400px;
    height: auto;
}






/* Games Section Styles */
#games {
    padding: 20px;
    background-color: #f9f9f9;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    text-align: center;
    margin: 20px;
    flex: 1 1 300px;
}

.game img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.game h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Footer Styles */
footer {
    background-color: var(--c-body);
    color: var(--c-pink);
    text-align: center;
    padding: 20px;
}

footer a {
    color: var(--c-light);
    text-decoration: none;
}

footer .social-media a {
    margin: 0 5px;
    display: inline-block;
}

footer .social-media img {
    width: 24px;
    height: 24px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #hero {
        padding: 10px 0;
        margin-right: 12px;
        flex-direction: column;
        align-items: center;
    }

    .container .ximag {
        display: none;
    }

    #activities .activity-card,
    #games .game {
        flex: 1 1 100%;
    }

    .calculator input {
        width: calc(100% - 30px);
    }


    .heading h1 {
        font-size: 20px;
        font-style: italic;
        padding: 10px;
    }
}