@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');

:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-pink: #FFC0CB;
    --c-blue: #0000FF;
    --c-body: #666;
    --c-light: #f8f8f8;
    --c-yellow: #ffff00;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

body {
    color: var(--c-pink);
    font-family: var(--f-base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c-yellow);
    line-height: 1.2;
    font-weight: 400;
}

.heading_1 {
    font-size: clamp(44px, 10vw, 100px);
    font-weight: 400;
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
    font-size: 20px
}

a {
    color: var(--c-brand);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: var(--c-brand);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    height: var(--n-height);
    display: flex;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.container .logo {
    padding-top: 30px;
    max-width: 400px; /* Ensures the image does not exceed its container width */
    height: auto; /* Maintains the aspect ratio */
    width: auto;
}

.brand {
    color: #fff;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li.active a {
    box-shadow: 0 2px var(--c-body);
}

.nav-links li a {
    color: var(--c-dark);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: var(--c-body);
}


.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-body);
    font-family: var(--f-base);
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--c-brand);
    color: #fff;
}


.btn2 {
    color: var(--c-dark);
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-body);
    font-family: var(--f-base);
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.btn-container .btn2 {
    background-color: cadetblue;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
}

.btn2:hover {
    background-color: var(--c-brand);
    color: var(--c-light);
}



.hamb {
    display: block;
    cursor: pointer;
    display: none;
}

.hamb span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: var(--c-dark);
    margin: 8px auto;
    transition: all 0.4s ease;
}

.hamb.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamb.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled {
    background-color: #fff;
}

.scrolled .brand {
    color: var(--c-dark);
}

.scrolled .nav-links li a {
    color: var(--c-dark);
}

.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}

.scrolled .hamb span {
    background-color: var(--c-dark);
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        background-color: var(--c-light);
        justify-content: center;
    }

    @media (max-width: 768px) {
        .navbar .container {
            width: 95%; /* Adjust the container width for smaller screens */
        }

        .container .logo {
            max-width: 150px;
        }
    }

    .nav-links.active {
        color: var(--c-light);
        height: 250px;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links li a {
        color: #000;
    }

    .hamb {
        display: block;
    }
}



/* hero */
.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #f5f5f5, #e0e0e0); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 10%;
    transition: all 0.3s ease;
}

.hero-text h5 {
    font-size: 16px;
    font-weight: 600;
    color: var(--c-body);
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-text h1 {
    font-family: monospace;
    font-size: 60px;
    line-height: 1;
    color: goldenrod;
    margin: 0 0 25px;
}

.hero-text h4 {
    font-size: 22px;
    font-weight: 600;
    color: rgb(193, 243, 11);
    margin-bottom: 10px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-text p {
    color: var(--c-dark);
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: white;
    background: cadetblue;
    border: 1px solid transparent;
    padding: 12px 25px;
    line-height: 1;
    font-size: 14px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
}

.hero-text a:hover {
    background: var(--c-brand);
    border: 1px solid #fff;
    transform: translateX(5px);
}

/* Social Icons */
.icons {
    position: absolute;
    top: 50%;
    padding: 0 5%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 20px 0;
    font-size: 24px;
    color: white;
    transition: all 0.55s ease;
}

.icons i:hover {
    color: #4d9559;
    transform: translateY(-5px);
}


@media (max-width: 1024px) {
    .hero {
        grid-template-columns: 1fr;
        padding: 120px 8%;
        text-align: center;
        margin-bottom: 10px; 
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text h4 {
        font-size: 18px;
    }

    .hero-text h5 {
        font-size: 14px;
    }

    .hero-text p {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .hero-img img {
        max-width: 90%;
    }

    .hero-text a {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        padding: 100px 8%;
        text-align: start;
        margin-bottom: 10px; 
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-text h4 {
        font-size: 16px;
    }

    .hero-text h5 {
        font-size: 12px;
    }

    .hero-text p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .hero-img img {
        max-width: 100%;
    }

    .hero-text a {
        font-size: 12px;
        padding: 10px 20px;
    }
}






/* about section */

.about {
    text-align: center;
    align-items: center;
    padding: 10px 0;
    font-size: 28px;
}

.about h2 {
    margin-top: 30px;
    color: var(--c-brand);
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-con {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.about-con ul {
    width: 100%;
    padding-left: 30px;
}

.about-con ul li {
    color: var(--c-body);
    list-style: disc;
}

.about-con .image {
    flex: 1;
    text-align: center;
}


.about-con .image img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.content {
    flex: 1;
    padding: 20px;

}

.content h3 {
    color: cadetblue;
    font-size: 25px;
}

.content p {
    padding: 10px 0;
    color: var(--c-dark);
    text-align: justify;
}



/* Hide the button by default */
#read-more-btn {
    display: block;
    cursor: pointer;
    text-decoration: none;
}



@media (max-width: 768px) {
    .about {
        font-size: 24px; 
        padding: 5px 0;
    }

    .about h2 {
        font-size: 25px;
    }

    .about-con {
        flex-direction: column; 
        padding: 10px; 
    }

    .content { 
        padding: 10px; 
    }

    .content h3 {
        font-size: 20px;
    }
    .about-con .image {
        flex: 1 1 100%;
        width: 100%; 
        max-height: 300px; 
        overflow: hidden; 
    }

    .about-con .image img {
        width: 100%;
        height: 300px; 
        height: auto;    
        object-fit: cover;
    }

    .btn2 {
        display: block;
        align-items: center;
        text-align: center;
    }

    #text {
        max-height: 100px;
        display: none; /* Default height on small screens */
    }

    #read-more-btn {
        display: inline; /* Show the button on small screens */
    }

    #text.expanded {
        max-height: none; /* Show full content when expanded */
    }

    .CTA p {
        padding: 0 20px;
    }
}

.benefits-section {
    padding: 30px;
    background-color: #fff;
    width: 90%;
    margin: auto;
}

.benefits-section h2 {
    text-align: center;
    color: var(--c-brand);
    font-size: 35px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-basis: 48%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.benefit-text {
    flex: 1;
    padding-right: 20px;
}

.benefit-text h3 {
    margin-top: 0;
    font-size: 20px;
    color: cadetblue;
}

.benefit-text p {
    margin: 10px 0 0;
    color: #666;
}

.conclusion {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: var(--c-dark);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: line-through;
}

.btn_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn_container button {
    color: var(--c-dark);
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-body);
    font-family: var(--f-base);
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
}

.btn_container button:hover {
    background-color: var(--c-brand);
    color: var(--c-light);
}



@media (max-width: 768px) {

    .benefits-section {
        width: 100%;
        padding: 20px;
    }

    .benefits-section h2 {
        font-size: 25px;
    }
    .benefits-container {
        flex-direction: column;
    }

    .benefit-item {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
    }

    .benefit-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .benefit-text p {
        text-align: justify;
    }

    .benefit-image {
        margin-bottom: 20px;
    }

    .conclusion {
        text-align: justify;
        font-size: 15px;
    }
}




/*testimonials*/ 

.section-header {
    text-align: center;
    margin-top: 25px;
}
.tes-title {
    font-size: 35px;
    font-weight: 400;
    color: var(--c-brand);
    line-height: 1.2;
    margin-bottom: 30px;
}

.testimonials {
    padding: 30px 0;
}

.tes-content {
    max-width: 100%;
}

.tes-content .text-box h3 {
    color: cadetblue;
    font-size: 20px;
    
}

.tes-item {
    background-color: var(--c-light);
    padding: 30px;
    border-radius: 15px;
}

.tes-item .test-info {
    display: flex;
    align-items: center;
}
.tes-item .test-info img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.tes-item .name {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: var(--c-dark);
    line-height: 1.2;
}

.tes-item .job {
    text-transform: capitalize;
    color: var(--c-body);
}

.tes-item p {
    text-align: justify;
    margin-top: 20px;
    color: var(--c-body);
}

.tes-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: var(--c-brand);
}

.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet {
    height: 12px;
    color: var(--c-dark);
}



@media (max-width: 768px) {
    .tes-title {
        font-size: 30px;
    }

    .section-header {
        margin-top: 10px;
    }


}


/*contacts*/


.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-section h1 {
    text-align: center;
}

/* Contact Info Styling */
.contact-info {
    flex: 1;
    margin: 20px;
    min-width: 300px;
    max-width: 50%;
}

.contact-info h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: cadetblue;
}

.contact-info p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    margin-right: 10px;
    color: cadetblue;
}

.contact-info ul li a {
    color: var(--c-body);
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}

/* Contact Form Styling */
.contact-form {
    flex: 1;
    padding: 20px;
    min-width: 300px;
    max-width: 50%;
}

.contact-section h1 {
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--c-brand);
}

.contact-form h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: cadetblue;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    padding: 15px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--c-brand);
}

.contact-form .message {
    color: var(--c-body);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        margin-top: 30px;
    }

    .contact-section h1  {
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }

    .contact-info h3 {
        font-size: 25px;
    }

    .contact-form h3 {
        font-size: 25px;
    }

    .contact-info,
    .contact-form {
        max-width: 100%;
        text-align: start;
    }
}

/* Newsletter Section Styling */
.newsletter-section {
    background: linear-gradient(to right, #fac562, #091a36);
    padding: 50px 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 20px 0;
}

.newsletter-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.newsletter-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter-form input[type="email"] {
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 60%;
    max-width: 300px;
    margin-bottom: 10px;
    outline: none;
}

.newsletter-form button {
    padding: 15px;
    font-size: 1em;
    background-color: cadetblue;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 40%;
    max-width: 120px;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #e67e22;
}

/* Responsive Design */
@media (max-width: 768px) {

    .newsletter-section {
        padding: 25px 10px;
    }

    .newsletter-content h2 {
        font-size: 1.3em;
    }

    .newsletter-content p {
        font-size: 1em;
    }
    .newsletter-form input[type="email"],
    .newsletter-form button {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .newsletter-form button {
        margin-top: 10px;
    }
}


.whatsapp_float {
    position: fixed;
    width: 45px; 
    height: 45px; 
    bottom: 20px; 
    right: 20px; 
    background-color: #25d366;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; 
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-icon {
    margin-top: 16px;
}

.whatsapp_float:hover {
    background-color: #128c7e;
    color: #FFF;
    text-decoration: none;
}







/* footer */

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.2)), url(images/5-min.jpg);
    background-size: cover; 
    background-position: center; 
    color: var(--c-light);
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--c-yellow);
}

.footer-content p a {
    text-decoration: underline;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: var(--c-light); 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    font-size: 1.5em; 
}

.social-links a:hover {
    color: var(--c-pink); 
}

/* Responsive Styles */
@media (max-width: 600px) {
    .social-links {
        flex-direction: column;
        align-items: center;
    }

    .social-links a {
        margin: 5px 20;
    }

    .footer-content p {
        font-size: 16px;
    }
}










